body{
    background-color: #edebeb;
}
#carouselHomeFade{
    margin-top: 60px;
}
.parallax {
    /* The image used */
    background-image: url("./images/carousel1.jpg");
  
    /* Set a specific height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.parallax h3{
    color: rgb(168, 64, 84, 1);
}
.parallax:after{
    content: "";
    background: rgba(255,255,255,0.3);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center-contents{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* About Section */
.about-section{
    height: 20vw;
}

/* Our Team */
.team-img{
    border-radius: 10px;
    max-width: 300px;
}

/* footer */
.site-footer{
    padding: 5em 0;
    background:rgba(7, 7, 7, 0.9);
    font-size: 14px;
    color: #edebeb;
}
.site-footer p:last-child{
    margin-bottom: 0;
}
.site-footer a{
    color: #fff;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}
.site-footer a:hover{
    color: #fff;
    border-bottom:1px solid rgba(255,255,255,0.2);
}
.site-footer h2{
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: #edebeb;
}
/* .site-footer .footer-link li{
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin:0 5px 5px 0;
    border: 1px solid rgba(255,255,255,0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-social a:hover{
    /* background-color: #edebeb; 
    border-color:#fff;
}
.footer-social .fab{
    margin-top:6px ;
} */

@media (min-width:991px){
    #carouselHomeFade{
        margin-top: 0;
    }
}